<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.utraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- Link to CSS file -->
</head>

<body>
	<div layout:fragment="content">
		<div class="form-container">
			<!-- Create Product Form -->
			<form action="#" th:action="@{/createProduct}" th:object="${productModel}" method="post">
				<table>
					<tr>
						<td>Name:</td>
						<td><input type="text" th:field="*{name}"></td>
						<td>
							<h5 style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error
							</h5>
						</td>
					</tr>
					<tr>
						<td>Price:</td>
						<td><input type="number" th:field="*{price}"></td>
						<td>
							<h5 style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error
							</h5>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" th:field="*{description}"></td>
						<td>
							<h5 style="color:red" th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}">Description Error</h5>
						</td>
					</tr>
					<tr>
						<td>Quantity:</td>
						<td><input type="number" th:field="*{quantity}"></td>
						<td>
							<h5 style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
								Quantity Error</h5>
						</td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Create Product"></td>
					</tr>
				</table>

				<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
				<div th:each="err : ${#fields.errors('*')}">
					<span style="color:red" th:text="${err}" class="fieldError"></span>
				</div>
			</form>
			<br>
			<!-- Update Product Form -->
			<form action="#" th:action="@{/updateProduct}" th:object="${productModel}" method="post">
				<table>
					<tr>
						<td>Update Name:</td>
						<td><input type="text" th:field="*{name}"></td>
					</tr>
					<tr>
						<td>Update Price:</td>
						<td><input type="number" th:field="*{price}"></td>
					</tr>
					<tr>
						<td>Update Description:</td>
						<td><input type="text" th:field="*{description}"></td>
					</tr>
					<tr>
						<td>Update Quantity:</td>
						<td><input type="number" th:field="*{quantity}"></td>
					</tr>
					<tr>
						<td>ID of product to be updated:</td>
						<td><input type="number" th:field="*{id}"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Update Product"></td>
					</tr>
				</table>
			</form>
			<br>
			<!-- Delete Product Form -->
			<form action="#" th:action="@{/deleteProduct}" th:object="${productModel}" method="post">
				<table>
					<tr>
						<td>Enter the ID of the product to delete:</td>
						<td><input type="text" th:field="*{id}" placeholder="Enter Product ID to delete"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Delete Product"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>