<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.utraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head> 
<title></title>
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${param.error}">
			Please fill all fields correctly.			
		</div>
		<form th:action="@{/doRegister}" method="post">
			<table>
				<tr>
					<td stle="padding:5px">First Name:</td>
					<td stle="padding:5px"><input type="text" name="fname" id="fname" placeholder="First Name" required></td>
				</tr>
				<tr>
					<td stle="padding:5px">Last Name:</td>
					<td stle="padding:5px"><input type="text" name="lname" id="lname" placeholder="Last Name" required></td>
				</tr>
				<tr>
					<td stle="padding:5px">Username:</td>
					<td stle="padding:5px"><input type="text" name="username" id="username" placeholder="Username" required></td>
				</tr>
				<tr>
					<td stle="padding:5px">Password:</td>
					<td stle="padding:5px"><input type="password" name="password" id="password" placeholder="Password" required></td>
				</tr>
				<tr>
					<td stle="padding:5px">Email:</td>
					<td stle="padding:5px"><input type="email" name="email" id="email" placeholder="Email" required></td>
				</tr>
				<tr>
					<td stle="padding:5px">Phone Number:</td>
					<td stle="padding:5px"><input type="text" name="phone" id="phone" placeholder="Phone Number" required></td>
				</tr>
				<tr>
					<td colspan="2" aling="center"><input type="submit" value="Register User"></td>
				</tr>
			</t>
		</form>
	</div>
</body>