<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.utraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head> 
<title></title>
</head>
<body>
	<div th:if="${successMessage}" style="color:green;">
		<p th:text="${successMessage}"></p>
	</div>
	<div layout:fragment="content">
		<form action="#" th:action="@{createProduct}" th:object="${productModel}" method="post">
			<table style="width: 50%">
				<thead>
					<tr>
						<th style="text-align: center;">Product Name</th>
						<th style="text-align: center;">Product Description</th>
						<th style="text-align: center;">Price</th>
						<th style="text-align: center;">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${products.empty}">
						<td style="text-align: center;" colspan="4"> The shop is out of stock </td>
					</tr>
					<tr th:each="product : ${products}">
						<td style="text-align: center;"><h5 th:text="${product.name}">Default</h5></td>
						<td style="text-align: center;"><h5 th:text="${product.description}">This is default text</h5></td>
						<td style="text-align: center;"><h5 th:text="${product.price}">1.00</h5></td>
						<td style="text-align: center;"><h5 th:text="${product.quantity}">1</h5></td>
					</tr>
				</tbody>
			</table>
		</form>
		<br>
		<br>
		<p><a href="edit">Go here to edit the products!</a></p>
	</div>
</body>